<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="APIAutomationFramework_Scratch">
        <classes>
            <class name="org.example.Sample.TestIntegrationSampleTemplate">
                <!--<methods>
                        <include name="testCreatBooking"/>
                        <include name="testVerifybookingbyID"/>
                </methods>-->
            </class>
        </classes>
    </test>
</suite>